@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');


/* Init */


.bg-section {
  background: #8d4a4a;
}

.ft-contact h1 {
  color: #fff;
  margin-top: 13%;
  font-size: 25px;
  text-decoration: dotted;
}

.ft-contact p {
  color: #fff;
  font-size: 15px;
}

.ft-booking h1 {
  color: #fff;
  text-align: center;
  font-size: 25px;
  margin-top: 13%;
  padding-left: 30%;
}

.ft-booking input {
  width: 40%;
  margin-top: 5%;
  /* padding-right: 15px; */
}

.ft-policy {
  margin-top: 7%;
  color: #fff;
}

.follow h3 {
  color: #fff;
}

.social {
  list-style: none;
  display: flex !important;
  padding-left: 2em;
}

.follow i {
  padding-left: 2em;
  text-align: center;
}

/* Minimalism styling */
.mini h1 {
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 700;
  text-align: center;
}

.slidingstyle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-control-prev,
.carousel-control-prev-icon {
  align-self: flex-end;
  position: absolute;
  padding-left: 97%;
}

.carousel-control-next,
.carousel-control-next-icon {
  align-self: flex-end;
  padding-left: 13%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: black;
}
/* center styling */
.center {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  background-size: cover;
}
/* monday styling starts here */
* {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.4;
}
a {
  text-decoration: none;
}
.bar {
  display: flex;
  position: sticky;
  top: 0;
  background: #612b21;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  height: 100px;
}
.h1 {
  margin-top: 0.2rem;
}

.bar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

.bar ul li a {
  color: white;
  padding: 0.75rem;
  margin: 0 0.25rem;
}

.bar ul li a:hover {
  background: #ffffff;
  border-radius: 5px;
  color: black;
}
/* responsive bar */
.menu-icon {
  display: none;
  color: whitesmoke;
  font-size: 2rem;
  margin-right: 10px;
  margin-left: 1rem;
}
.sidenav {
  display: none;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 1);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
.sidenav a {
  padding: 15px 8px 15px 32px;
  border: 1px solid rgb(109, 105, 105);
  border-left: transparent;
  border-right: transparent;
  text-decoration: none;
  font-size: 1rem;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover .nav-text {
  color: #f1f1f1;
  padding-left: 0.5rem;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  border: none;
}
.sidenav h1 {
  margin-bottom: 1rem;
}
.nav-icon {
  color: #f1f1f1;
  font-size: 1.5rem;
  padding-right: 0.5rem;
}

/* showcase starts here */
.show {
  background: url(../images/IMG-20200609-WA0003.jpg) no-repeat center
    center/cover;
  height: 600px;
  position: relative;
}
/* showcase content */
.conten {
  margin-top: 0;
  position: absolute;
  left: 200px;
  top: 200px;
  line-height: 1.6;
}
.fir {
  background: #612b21;
  padding: 0.5rem 1rem;
  width: fit-content;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 50px;
}
.sec {
  background: #612b21;
  padding: 0.5rem 1rem;
  width: fit-content;
  color: #ffffff;
  text-transform: capitalize;
  font-size: 50px;
}
.up {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  place-items: center;
  margin-inline-start: 25rem;
  position: absolute;
  top: 650px;
  background: #ffffff;
  width: 40vw;
  padding-left: 0.5rem;
  padding-right: 1rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
hr {
  height: 100%;
}
.up select {
  border: none;
  margin-left: 1rem;
}
.room {
  margin: 7rem 3rem 0rem 3rem;
  position: relative;
  background: lightgray;
}
.afr {
  display: flex;
  flex-direction: row;
  height: 600px;
}
.afr-box {
  background: #ffffff;
  height: 350px;
  padding: 2rem 3rem 0 2rem;
  line-height: 30px;

  margin-left: 6rem;
  margin-right: -4rem;
  z-index: 1;
  margin-top: 5rem;
}
.buttonone {
  background: #612b21;
  color: #ffffff;
  border: none;
  margin-top: 2rem;
  padding: 0.5rem 1rem;
}
.roo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5rem;
}
.ro {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}
.ro .to img {
  width: 800px;
  height: 600px;
}
.p {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 3rem 0 2rem;
  line-height: 20px;
}
.buttontwo {
  padding: 1rem 1.5rem;
  color: #ffffff;
  background: #612b21;
  border: none;
  margin-left: 2rem;
  border-radius: 5px;
}
.to1 {
  position: absolute;
}
.img22 {
  height: 700px;
  width: 400px;
  overflow: hidden;
}

/* media quuries */
@media (max-width: 500px) {
  body {
    width: 100vw;
  }
  .bar {
    padding-top: 0.2rem;
    height: 90px;
  }
  .menu-icon {
    display: inline-block;
  }
  .sidenav {
    display: block;
  }



  .header .items {
    display: none;
  }
  .show {
    height: 300px;
    
  }
  .conten {
    left: 30px;
    top: 50px;
    line-height: 1;
  }
  .fir {
    font-size: 30px;
  }
  .sec {
    font-size: 30px;
  }
  .up {
    margin-inline-start: 0rem;
    top: 550px;
    width: 365px;
    margin: 0 0rem 0 rem;
    padding-left: 0;
    padding-right: 0;
  }
  .room {
    margin: 7rem 1rem 1rem 1rem;
  }
  .afr {
    height: 450px;
    background: url(../images/chair-cutlery-diner-dining-941861.jpg) no-repeat
      center center/cover;
  }
  .afr-box {
    height: fit-content;
    padding: 2rem 3rem 0 2rem;
    line-height: 20px;
    width: 300px;
    margin-left: 1rem;
    margin-right: -4rem;
    z-index: 1;
    margin-top: 2rem;
    background: transparent;
    color: #ffffff;
  }
  .buttonone {
    margin-bottom: 1rem;
  }
  .img1 {
    display: none;
  }
  .ro {
    display: flex;
    flex-direction: column;
  }
  .ro .to img {
    width: 330px;
    height: 400px;
  }
  .to {
    padding-bottom: 1rem;
  }
  .img22 {
    height: 300px;
    width: 330px;
    overflow: hidden;
  }
  #book {
    margin-left: 0;
  }
  .buttontwo {
    padding: 0.5rem 1rem;
    color: #ffffff;
    background: #612b21;
    border: none;
  }
  .image {
  }
  #holder {
    height: max-content;
    margin-top: 150px;
    width: 40;
    padding: ;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .up {
    margin-inline-start: 10rem;
    top: 650px;
    width: 450px;
    margin: 0 0rem 0 rem;
    padding-left: 0;
    padding-right: 0;
  }
  .room {
    margin: 7rem 0rem 1rem 0rem;
  }
  .afr {
    display: flex;
    flex-direction: row;
    height: 500px;
  }
  .afr-box {
    background: #ffffff;
    height: 500px;
    padding: 2rem 3rem 0 2rem;
    line-height: 30px;
    width: 50%;
    margin-left: 0.5rem;
    margin-right: 0rem;
    z-index: 1;
    margin-top: 0rem;
  }
  .img1 {
    width: 50%;
  }
  .ro {
    display: flex;
    flex-direction: column;
  }
  .ro .to img {
    width: 100%;
    height: 600px;
  }
  .to {
    padding-bottom: 1rem;
  }
  .img22 {
    height: 1000px;
    width: 100%;
    overflow: hidden;
  }
  .buttontwo {
    padding: 1rem 1.5rem;
    color: #ffffff;
    background: #612b21;
    border: none;
    margin-left: 3rem;
    border-radius: 5px;
  }
  .p {
    margin-left: 1rem;
  }
  .square {
    margin: auto;
  }
  .square1 {
    margin: auto;
  }
  .square2 {
    margin: auto;
  }
  #holder {
    height: max-content;
    margin-top: ;
    width: 30%;
  }
}
#cont {
  margin: 20px auto;
  background: url("../images/tree.jpeg");
  height: 550px;
  background-repeat: no-repeat;
  background-size: 1800px 300px;
  border-style: thin;
}
#holder {
  float: left;
  width: 25%;
  background-color: white;
}
.square {
  margin: 10% 0% 10% 6.24%;
  height: 200px;
}
.image {
  border: 1;
  border-radius: 70mm;
  margin-top: 30px;
}
.square1 {
  margin: 10% 6.24% 10% 6.24%;
  height: 200px;
}
.square2 {
  margin: 10% 6.24% 10% 0%;
  height: 200px;
}


/* our team */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper{
  margin-top: 10%;
}

.wrapper h1{
  font-family: 'Allura', cursive;
  font-size: 52px;
  margin-bottom: 60px;
  text-align: center;
}

.team{
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  background: url("../images/tree.jpeg");
}

.team .team_member{
  background: #fff;
  margin: 5px;
  margin-bottom: 50px;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;  
  position: relative;
}

.team .team_member h3{
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}

.team .team_member p.role{
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}

.team .team_member .team_img{
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}

.team .team_member .team_img img{
  width: 100px;
  height: 100px;
  padding: 5px;
}

* {
	margin: 0;
	padding: 0;
}

/*------Navigation-----*/
#nav-bar{
	position: sticky;
	top: 0;
	height: 100px!important;
	z-index:10;
	
}
.navbar-brand img{
	padding-left: 30px;
	}
	
.navbar-brand2 img{
	position: absolute;
	top: 20px;
	left: 80px;
	bottom: 50px;
	padding: 10px;
	}
.navbar-brand3 img{
	position: absolute;
	top: 45px;
	left: 102px;
	bottom: 50px;
	padding: 10px;
	}
	
.navbar-collapse{
  padding-right: 70px;
  background:#612b21;
}




.navbar-nav li{
    padding:0 10px;
	
}
.navbar-nav li a{
    float: right;
	text-align: left;
	font-size: 18px;
	font-family: Arial;
	font-weight: 500;
} 
.navbar-nav li button{
    color: #602C21!important;
    background-color: #fff;
	
}
 
.navbar-nav{
	right: 20px!important;
}
.navbar{
	background : #602C21;
	height: 100px!important;
}
.navbar-toggler{
	border: none!important;
}
.nav-link{
	color:white!important;
	font-weight: 600;
	font-size:16px;
}



@media (max-width: 500px) {

  .navbar-collapse{
    background:#612b21;
    padding: 4%;
  }

  .navbar-nav li{
    padding:0 10px;
    border-bottom: .3px solid rgba(255, 255, 255, 0.2);
    text-transform: capitalize;
}
.navbar-nav li a{
	font-size: 18px;
	font-family: Arial;
  font-weight: 500;
  text-transform: capitalize !important;
  
} 
.navbar-nav li button{
    /* color: #602C21!important; */
    color: #FFF !important;
    background-color: rgb(96, 44, 33);
    border-color: rgb(96, 44, 33);
    float: right;
    padding: 1%;
    line-height: 1.3;
    border: none;
    outline: none;
    font-size: 18px;
	  font-family: Arial;
    font-weight: 500;
    text-transform: uppercase;
    border-color: transparent;
    text-transform: capitalize;
}

}

.navbar-toggler {
  background: rgba(170, 140, 134, 0.1);
  border-color: rgb(96, 44, 33);
  border: none;
  outline: none;
  
}

.navbar-toggler-icon {
  color: white;
}


.ft-contact h1 {
    color: #fff;
    margin-top: 13%;
    font-size: 25px;
    text-decoration: dotted;
}

.ft-contact p {
    color: #fff;
    font-size: 15px;
}


.ft-booking h1 {
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-top: 13%;
    padding-left: 30%;
}

.ft-booking input {
    width: 40%;
    margin-top: 5%;
    /* padding-right: 15px; */
}

.ft-policy  {
    margin-top: 7%;
    color: #fff;
    
}

.follow h3 {
    color: #fff;
}

.social {
    list-style: none;
    display: flex !important;
    padding-left: 2em;
}

.follow i {
    padding-left: 2em;
    text-align: center;
}


/* Minimalism styling */
  .mini h1 {
      color: black;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      font-weight: 700;
      text-align: center;
  }

  .slidingstyle{
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .carousel-control-prev,
  .carousel-control-prev-icon{
    align-self: flex-end;
    position: absolute;
    padding-left: 97%;
  }
 
  .carousel-control-next,
  .carousel-control-next-icon{
    align-self: flex-end;
   padding-left: 13%;
  }

  .carousel-control-prev-icon, .carousel-control-next-icon {
     background-color: white;
  }

  

























  







  /* Contact Page */
/* *{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html,body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.7em;
  overflow: auto;
}

#navbar{
  background: #602c21;
  overflow: auto;
}

.logo h1{
  float: left; 
  padding-right: 10px;
  font-family: 'Noto Sans TC', sans-serif;
  font-style: italic;
 }

 .logo h1 span{
   padding-left: 10px;
 }

.logo img{
float: left;
margin: 0px 10px 10px 5px;
padding-top: 5px;
}

.logo{
  display: block;
  float: left;
  padding-bottom: 10px;
}

#navbar ul{
  float: right;
  list-style: none;
}

#navbar ul li{
  float: left;
}

#navbar ul li a{
  display: block;
  padding: 10px 10px 0px 10px;
}

#navbar ul li a:hover{
  border-bottom: 2px #fff solid;
}
#navbar .btn{
  background: #fff;
  color: #602c21;
  padding: 0px 10px;
  margin: 10px;
}

#navbar .btn:hover{
  background: #333;
  color: #fff;
  border-bottom: none;
} */


.container1{
  margin: auto;
  padding: 20px 30px;
  max-width: 1100px;
}

a{
  text-decoration: none;
  color: #fff;
}



#showcase{
  color: #fff;
  background: #602c21;
}

#showcase .container2{
  background: url('../images/0b0c0a90021215\ 1.png') no-repeat center center/cover;
  height: 1009px;
  padding: 100px 0px 50px 30px;
}

#showcase .showcase-content{
  display: inline-block;
  font-family: 'Baskervville',serif;
}

#showcase .box1{
  background: #fff;
  padding: 20px;
  color: #602c21;
  font-size: 60px;
  margin: 150px 100px 2px 50px;
}

#showcase .box2{
  background: #fff;
  color: #602c21;
  padding: 15px;
  font-size: 60px;
  margin: 5px 0px 10px 50px;
}

#contact-form .form-group1,
#contact-form .form-group2{
  display:inline-block;
  padding: 10px;
}

#contact-form .form-group1 label,
#contact-form .form-group2 label{
  display: block;
}

#contact-form .form-group1 input,
#contact-form .form-group2 input{
  padding: 0px 10px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-color: #bdbdbd;
}

#contact-form .message{
  margin-bottom: 10px;
  margin-top: -2px;
  padding: 0px 0px 0px 22px;
}

#contact-form .message label{
  display: block;
}

#contact-form .message textarea{
  width: 450px;
  padding: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px #bdbdbd solid;
}
.container3{
  padding: 30px 0px 20px 30px;
  margin: auto;
  color: #bdbdbd;
  font: 18px;
  margin-top: 60px;
  margin-bottom: 30px;
  max-width: 600px;
  box-shadow: 20px 20px 20px 20px #bdbdbd;
  position: relative;
}

#box-1{
  background: #602c21;
  width: 100px;
  height: 100%;
  position: absolute;
  left: 84.5%;
  bottom: 0%;
}

#contact-form .btn1{
  color: #fff;
  background: #602c21;
  margin: 0px 5px 0px 360px;
  border: none;
  text-align: center;
  padding: 10px 20px;
}

#contact-form .btn1:hover{
background: #333;
color: #fff;
}


*{
  box-sizing: border-box;
}
/* removing default styles */
html,
body{
  min-width: 100%;
  margin: 0;
  overflow-x: hidden;
}
body{
  display: flex;
  flex-direction: column;
}
.mapdown{
  display: flex;
  flex-direction: column;
  
}
/* arranging the contact info and icons */
.first-icons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 3rem;
}
.second-icons{
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}
.twitter{
  text-align: center;
  margin-bottom: 2rem;
}
/* coloring the fontawesome icons */
.fa-map-marker{
  color: red;
}
.fa-phone-square{
  color: green;
}
.fa-envelope{
  color: red;
}
.fa-facebook-square{
  color: cadetblue;
}
.fa-instagram{
  color: pink;
}
.fa-twitter-square{
  color: blue;
}
.fa-linkedin-square{
  color: mediumblue;
}
.footer-section{
  
}
h3{
  color: white;
}

/* styling the bootsrap */
.row{
  padding: .5rem;
  color: white;
}

/* styling the BOOK A ROOM section */
#room,
[type]{
padding: .5rem;
}
footer{
  margin: 0;
  background-color: saddlebrown;
}











/* Top Facilities Page [by @Maramef*/




.nav_links {
	color: white;
	border-bottom: 5px solid transparent;
}

.nav_links:hover {
	color: white;
	text-decoration: none;
	border-bottom: 5px solid white;

}

.CTA_Book_Now {
	background: white;
	color: #602C21;
}

.bg_accent {
  background-color: #602C21;
  padding:2%;
  outline: none;
}

.text_accent {
	color: #602C21;
}









/* BOTTOM FACILITIES PAGE by @amarachukwu */


/*reset*/
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Baskervville', serif;
} */

.container-fluid {
  max-width: 1440px;
  padding: 0 !important;
}

.section-container {
  max-width: 1300px;
}

.section-container.row {
  margin-left: auto;
  margin-right: auto;
}

.ht-btn {
  font-family: 'Circular Std', sans-serif;
  font-size: 18px;
  color: #FFFFFF;
  background-color: #602C21;
  border: none;
  line-height: 23px;
  padding: 8px 25px;
  font-weight: 500;
}

/*==========================
Restaurant Section 
============================*/
.restaurant {
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 120px;
}

.restaurant-text .title {
  color: #333333;
  font-size: 78px;
  line-height: 89px;
  font-weight: lighter;
}

.restaurant-text .text {
  font-size: 24px;
  color: #333333;
  line-height: 147.4%;
  margin-top: 25px;
  margin-bottom: 25px;
}


/*=======================
GROUPED SERVICES
=========================*/

.grouped-services {
  background-image: linear-gradient(to right ,rgba(189, 189, 189, 0.308) 55%, #FFFFFF 50%);
  width: 100%;
  margin: 120px auto 0;
  padding: 7% 0%;
}


/*=============================
LAUNDRY
===============================*/

.grouped-services .laundry {
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}

.laundry-text .title {
  color: #333333;
  font-size: 60px;
  line-height: 89px;
  font-weight: lighter;
}

.laundry-text .text {
  color: #333333;
  font-size: 24px;
  line-height: 147.4%;
  margin-top: 25px;
  margin-bottom: 25px;
}


/*======================
HALL
*======================*/

.grouped-services .hall {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 170px;
}

.hall-text .title {
  color: #333333;
  font-size: 60px;
  line-height: 89px;
  font-weight: lighter; 
}

.hall-text .text {
  color: #333333;
  font-size: 24px;
  line-height: 38px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.hall .hall-img {
  width: 100%;
}


/*======================
INTERNET 
========================*/

.grouped-services .internet {
  margin-top: 150px;
  height: 450px;
  padding-left: 15px;
  padding-right: 15px;
}

.internet .internet-text {
  background-color: #FFFFFF;
  position: absolute;
  top: 32%; 
  padding: 60px 150px 60px 95px;
  z-index: 1; 
  align-self: center;
  box-shadow: 1.01418px 5.07092px 30.4255px rgba(0, 0, 0, 0.12);
}

.internet-text .title {
  color: #333333;
  font-size: 48px;
  line-height: 55px;
  font-weight: lighter;
}

.internet-text .text, .title .text {
  color: #333333;
  font-size: 24px;
  line-height: 145%;
  margin-bottom: 25px;
  margin-top: 25px;
}


/*===================================
CARE/BEAUTIFUL NIGHT SECTION STYLES
=================================*/

.care {
  margin-top: 250px;
}

.care .care-title {
  background-color: #602C21;
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 11%;
}

.care-title .heading {
  font-size: 76px;
  line-height: 89px;
  font-weight: lighter;
  color: #FFFFFF;
  margin-bottom: 0;
}

.care .care-img {
  background-image: url("../images/palm-trees-at-night-258154 2.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.care-img .heading {
  display: flex;
  flex-direction: column;
  color: #FFFFFF;
  font-size: 118.808px;
  line-height: 136px;
  font-weight: lighter;
  padding: 40% 10% 17%;
}

/* =========================
MEDIA QUERY
===========================*/

@media only screen and (max-width: 1280px) {    
  .care-title .heading {
      font-size: 70px;
  }
}

@media only screen and (max-width: 1195px) {
  .care-title .heading {
      font-size: 55px;
  }

  .internet .internet-text {
      padding: 45px 68px;
  }  
}

@media only screen and (max-width: 965px) {
  .restaurant-text .title,
  .laundry-text .title {
      font-size: 65px;
      margin-bottom: 0;
  }

  .restaurant-text .text,
  .laundry-text .text {
      font-size: 20px;
      line-height: 145%;
      margin-top: 0;
      margin-bottom: 10px;
  } 
  
  .hall-text .title {
      font-size: 52px;
      line-height: 55px;
      margin-bottom: 0px;
  }

  .hall-text .text {
      font-size: 19px;
      line-height: 35px;
      margin-top: 10px;
      margin-bottom: 10px;
  }

  .internet .internet-text {
      padding: 45px 28px;
  }

  .internet-text .title {
      font-size: 42px;
      margin-bottom: 0px;
  }

  .internet-text .text {
      font-size: 20px;
      line-height: 145%;
      margin-bottom: 10px;
      margin-top: 10px;
  }

  
  .care-title .heading {
      font-size: 50px;
  }
}

@media only screen and (max-width:905px) {
  .care-title .heading {
      font-size: 45px;
  }
}

@media only screen and (max-width: 767px) {
  .grouped-services {
      background-image: linear-gradient(to right ,rgba(189, 189, 189, 0.308) 100%, #FFFFFF 0%);
      padding-top: 5px;
      padding-bottom: 0px;
      margin-top: 120px;
  }

  .internet .internet-text {
      top: 0;
      width: 95%;
  }

  .care .care-title {
      padding: 5%;
  }
  
  .care-title .heading {
      font-size: 34px;
  }

  .care-img .heading {
      font-size: 80px;
      line-height: 100px;
  }
  
  .care {
      margin-top: 120px;
  }

  .restaurant, 
  .grouped-services .hall,
  .grouped-services .internet {
      margin-top: 100px;
  }

  .grouped-services .laundry {
      margin-top: 50px;
  }

  .section-container.row {
      margin-left: 1%;
      margin-right: 1%;
  }
}

@media only screen and (max-width: 584px) {
  .care-title .heading {
      font-size: 25px;
  }    
}

@media only screen and (max-width: 500px) {
  .care-img .heading {
      font-size: 60px;
      line-height: 80px;
  }    
}

@media only screen and (max-width: 436px) {
  .care-title .heading {
      font-size: 20px;
  } 

  .restaurant-text .title {
      font-size: 58px;
      line-height: 79px;
  }
}







/* Style Overide */

* {
  font-family: 'Montserrat', sans-serif;
}

p {
  /* line-height: 1.7; */
}



.nav-item .nav-link {
  font-family: 'Montserrat', sans-serif;
}

@media only screen and (max-width: 500px) {

  .buttontwo {
    margin-top: -20%;
  }

}